%article.post
  %header
    %h1= title
    %h2= date
    #rdbWrapper
      :javascript
        (function() {
            var s     = document.getElementsByTagName('script')[0],
                rdb   = document.createElement('script');
            rdb.type  = 'text/javascript';
            rdb.async = true;
            rdb.src   = document.location.protocol + '//www.readability.com/embed.js';
            s.parentNode.insertBefore(rdb, s);
        })();

  %section.content
    = body
  %section.comments
    - if @config[:disqus]
      #disqus_thread
      :javascript
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = "http://#{@config[:disqus]}.disqus.com/embed.js";
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      %noscript
        Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=danielfischersthoughts">comments powered by Disqus.</a></noscript>
