%article.post
  %header
    %h1= title
    %h2= date
    #readability
      <iframe border="0" scrolling="no" width="78" height="17" allowtransparency="true" frameborder="0" style="margin-bottom: -3px; z-index: 1338; border: 0px; background-color: transparent; overflow: hidden;" src="http://www.instapaper.com/e2?url=____&title=____&description=____"></iframe>

  %section.content
    = body
  %section.comments
    - if @config[:disqus]
      #disqus_thread
      :javascript
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = "http://#{@config[:disqus]}.disqus.com/embed.js";
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      %noscript
        Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=danielfischersthoughts">comments powered by Disqus.</a></noscript>
