%article.post
  %header
    %h1= title
    %h2= date

  %section.content
    = body
  %section.comments
    - if @config[:disqus]
      #disqus_thread
      :javascript
        /**
          * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread] 
          */
        (function() {
         var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
         dsq.src = 'http://danielfischersblog.disqus.com/embed.js';
         (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    
      %noscript
        %a{:href => "http://disqus.com/?ref_noscript=danielfischersblog"} View the discussion thread.