%section#articles
  - for article in articles[0..3]
    %article
      %h1
        %a{:href => "#{article.path}"}= article.title
      %section.content
        = article.summary
        %a{:href => "#{article.path}"} read more &raquo;
  
  %aside#archives
    %h1 Archives
    = archives