!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", 'xml:lang' => "en" }
  %head
    %title Daniel Fischer's Blog - #{title}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/main.css'}
    %link{:rel => 'alternate', :type => 'application/atom+xml', :title => "#{title} - feed", :href => '/index.xml'}
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}
    <meta name="readability-verification" content="rup3x5MRU5pVGcmjgX95e4c7XSbYT3rhRFHAkrVa"/>
  %body
    .container.showgrid
      %header#main-header
        #who-am-i
          %hgroup
            %h1 
              %a{:href => '/', :title => "Daniel Fischer's Blog"} DFischer Blog
            %h2
              +1 to <strong>Reading</strong>
          %a.avatar{:href => '/', :title => "Daniel Fischer, The Los Angeles Geek Homepage"}
            %img{:src => '/images/avatar_alt.png', :alt => "Daniel Fischer's Picture"}
        #hybrid-set
          :markdown
            You've done it. You've found my blog. Here you will find my thoughts, technical know-how, and various ramblings that I wish to share. If this is your cup of tea, then please, drink up. Otherwise, you may want to [return to www.danielfischer.com](http://www.danielfischer.com "Return to the main page").
      = yield
      %footer
        %a{:href => "http://blog.danielfischer.com"} &laquo; Back to blog.danielfischer.com
        %a{:href => "http://www.danielfischer.com"} &laquo; Back to www.danielfischer.com
        %section#copyright
          All content &copy; 1999-2012 Daniel Fischer
    :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-287153-2']);
        _gaq.push(['_setDomainName', '.danielfischer.com']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
